/* Pokemon card grid child */
.card {
    display: flex;
    flex-direction: column;
    border: 3px solid gold;
    border-radius: 20px;
    background-color: lightyellow;
}

.card:hover {
    cursor: pointer;
    box-shadow: 0 0 20px 5px rgb(255, 215, 0, 0.8);
}

/* Pokemon name and pokeId in the pokemon grid card */
.card-title {
    display: flex;
    justify-content: space-between;
    margin: 0 20px;
    margin-bottom: 5px;
    border-bottom: 1px dashed darkorange;
    padding: 5px 0;
}

/* PokeId */
.card-title p {
    align-self: center;
}

/* Centers Pokemon img in the card */
.pokeImg-div {
    display: flex;
    justify-content: center;
    align-items: center;
}
/* Pokemon image */
.pokeImg {
    width: 130px;
}


/* Tablet */
@media (max-width: 1024px) {
    .pokeImg {
        width: clamp(100px, 20vw, 200px);
    }
}

/* Phone */
@media (max-width: 600px) {
    .pokeImg {
        width: clamp(75px, 20vw, 100px);
    }
    .card-title {
        font-size: clamp(8px, 2vw, 12px);
    }

    .card-title p {
        display: none;
    }
}