
/* Size of pokemon image */
.pokeImg {
    max-width: 130px;
}

/* Pokemon card grid child */
.card {
    display: flex;
    flex-direction: column;
    border: 3px solid gold;
    border-radius: 10%;
    background-color: lightyellow;
}

/* Pokemon name and pokeId in the pokemon grid card */
.card-title {
    display: flex;
    justify-content: space-between;
    margin: 0 20px;
    border-bottom: 1px dashed darkorange;
    padding: 5px 0;
}

/* PokeId */
.card-title p {
    align-self: center;
}

/* Centers pokemon img within the card */
.card img {
    align-self: center;
}