/* Pokemon card grid child */
.card {
    display: flex;
    flex-direction: column;
    border: 3px solid gold;
    border-radius: 20px;
    background-color: lightyellow;
}

.card:hover {
    cursor: pointer;
    box-shadow: 0 0 20px 5px rgb(255, 215, 0, 0.8);
}

/* Pokemon name and pokeId in the pokemon grid card */
.card-title {
    display: flex;
    justify-content: space-between;
    margin: 0 20px;
    border-bottom: 1px dashed darkorange;
    padding: 5px 0;
}

/* PokeId */
.card-title p {
    align-self: center;
}

/* Pokemon image */
.pokeImg {
    max-width: 130px;
    align-self: center;
}