* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Sets Header, Board and Footer as flex children */
#root {
  display: flex;
  flex-direction: column;
  min-height: 100dvh;
  padding: 0 75px;
  background-color: rgb(251, 232, 120);
}

@media (max-width: 1024px) {
  #root {
    padding: 0 40px;
  }
}

@media (max-width: 600px) {
  #root {
    padding: 0 10px;
  }
}